
.demo-card-wide.mdl-card {
  width: 400px;
  //float:left;
  margin-right:10px;

  display: inline-block; /*Display inline and maintain block characteristics.*/
  vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
  white-space: normal; /*Prevents child elements from inheriting nowrap.*/
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.container
{
    white-space: nowrap; /*Prevents Wrapping*/
    
    width: 1500px;
    //height: 290px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.inner-container
{
    white-space: nowrap;
}

.inner-container .inner-container-layout
{
  display: inline-block; /*Display inline and maintain block characteristics.*/
  vertical-align: top; /*Makes sure all the divs are correctly aligned.*/
  white-space: normal; /*Prevents child elements from inheriting nowrap.*/
}

.button-align
{
  float:right;
}